<div class="jumbotron">
  <div class="card">
    <div class="media">
      <img class="media-left" width="400" alt="Image" src="<%= @question.gravatar %>">
      <div class="media-body">
        <div class="card-body">
          <h5 class="card-title"><%= @question.email %> asked:</h5>
          <p class="card-text"><%= @question.body %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Asked 3 days ago</small>
          <small><button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#newAnswer">Submit New Answer</button></small>
        </div>
      </div>
    </div>
  </div> 
</div>

<%= render 'home/new_answer_form'%>

<div class="questions">
  <div class="card-deck">
    <% @question.answers.each do |answer| %>
      <div class="card">
        <img class="card-img-top" src="<%= answer.gravatar %>%" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= answer.email %> answered:</h5>
          <p class="card-text"><%= answer.body %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Answered <%= time_ago_in_words answer.created_at %> ago</small>
        </div>
      </div>
    <% end %>
  </div>
  <% if @question.answers.empty? %>
    <div class="alert alert-info">
     No Answers yet, be the first to answer!
    </div>
  <% end %>
</div>