<div class="jumbotron">
  <h6> The universe is the totality of everything that exists, that has existed, or will ever exist.</h6>
  <p> This Q&A site is dedicated to questions about the history of the Universe </p>
</div>
<div class="questions">
  <div class="card-deck">
    <% @questions.each do |question| %>
      <div class="card">
        <img class="card-img-top" src="<%= question.gravatar %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= question.email %> asked:</h5>
          <p class="card-text"><%= question.body %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Asked <%= time_ago_in_words question.created_at %> ago.</small>
          <small><a  class="btn btn-success btn-sm" href="<%= question_path(question) %>">View Answers</a></small>
        </div>
      </div>
    <% end %>
  </div>
  <% if @questions.empty? %>
    <div class="alert alert-info">
      There's nothing here, be the first to post.
    </div>
  <% end %>
</div>